<!DOCTYPE html>
<html>
<head>
	<title>SIPERPUS</title>
	<link rel="stylesheet" type="text/css" href="login_style.css">
</head>
<body>

	<h1>SIPERPUS</h1>

	<div class="kotak_login">
		<p class="tulisan_login">Silahkan login</p>

		<form action="login.php" method="post">
			<label>Username</label>
			<input type="text" name="inp_user" class="form_login" placeholder="Username ..">

			<label>Password</label>
			<input type="text" name="inp_pass" class="form_login" placeholder="Password ..">

			<input type="submit" name="inp_submit" class="tombol_login" value="LOGIN">
			<a href="register.html" class="btn_dosen">Register</a>
			<br/>
			<br/>
		</form>
	</div>

	<!-- <div>
		<a href="#" class="btn_dosen">Login Dosen</a>
	</div> -->
</body>
</html>